@font-face {
    font-family: "Times";
    src: url("times-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Times";
    src: url("times-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Times";
    src: url("times-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Times";
    src: url("times-bolditalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
